@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "PT Sans";
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.card:hover .details{
    bottom: 0;
}

.card:hover .poster::before{
    bottom: 0;
}
.card:hover .movie-img{
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.card
{
    position: relative;
    width: 300px;
    height: 450px;
    background: #000;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.card .poster
{
    position: relative;
    overflow: hidden;
    
}
.card .poster:before
{
    content: '';
    position: absolute;
    bottom: -180px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: all 0.5s ease-in-out;
    z-index: 1;
}
.card .poster img
{
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.details
{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 74%;
    bottom: -210px;
    left:0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    z-index: 2;
    text-align: left;
    font-family: "PT Sans";
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.details h2
{
   color: #fff;
   margin: 0;
   padding: 0;
   font-size: 20px;
}
.details h2 span
{
   font-size: 14px;
    color: #ff9800;
}
.rating
{
   position: relative;
   padding: 5px e;
}
.rating .fas{ 
   color: #f7f406;
   margin-right: 2px;
   font-size: 16px;
}

.rating span
{
    color: #fff;
   padding: 0 5px;
}
.tags
{
   position: relative;
   margin-top: 5px;
}
.tags span
{
   padding: 3px 8px;
   margin-right: 5px;
   color: #fff;
   display: inline-block;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   font-size: 14px;
}

.tags span.hacking
{
    background: #7206f7;
}
.tags span.action
{
    background: #f70661;
}
.tags span.drama
{
    background: #348d19;
}
.info
{
    color: #fff;
}
.info p
{
    margin: 15px 0 10px;
}
.star
{
    position: relative;
}

.star h4
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #f7f406;
}
.star ul
{
    margin: 10px 0 0;
    padding: 0;
    display: flex;
}
.star ul li
{
    list-style: none;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
    border: 2px solid #fff;
}
.star ul li img
{
    width: 100%;
}